.boxFore{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0 auto;

        border-radius: 25px;
        box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.7);
       
        width: 85%;
        max-width: 650px;
        min-height: 300px;
        background-color: rgb(113, 128, 148, 0.6);
    
}

.boxFore .actualTemp{
       width: 50%;
}

.upcomingDays img{
        width: 30px;
        height: 10%;

}